:root {
    --main-bg-color: #d7d9db;
    --main-text-color: #331E36;
    --aux-color-light: #6EA4BF;
    --aux-color-dark: #41337A;
    --main-white: #f9f9f9;
  }

.recipeContainer{
       margin: 0 auto; /*this centers the div horizontally in the body, need width for it to work*/
    display: grid;
  width: 80vw;
  }

  .recipeHeader{
    width: 100vw;
    height: 3vw;
  }

.mainWrapper{
      background: url(https://i.imgur.com/eTuCPxM.jpeg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-repeat: no-repeat;/*makes the background full*/
  background-size: cover;
  border: 1px solid var(--aux-color-dark);
}   
.alt1{
  background: url(https://i.imgur.com/LUiR7W8.jpeg) 50% 50% no-repeat;
      background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--aux-color-light);
}
.alt2{
    background: url(https://i.imgur.com/S6ZVJqq.jpg) 50% 50% no-repeat;
      background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--aux-color-light);
}

.alt3{
    background: url(https://i.imgur.com/1HCBbyy.png) 50% 50% no-repeat;
      background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--aux-color-light);
}

@media screen and (max-width: 900px) {
  .recipeContainer{
    height: 100vh;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 1vw;
}
   
     .mainWrapper{
    grid-column:1/3;
    grid-row:1/3;

  }
   .alt1{

grid-column:1/3;
     grid-row:3/5;
  
}
  
}
  
@media screen and (min-width: 900px) {
 
.recipeContainer{
  height: 35vw;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: 33% 33% 33%;
  grid-gap: .75vw;
}
   
     .alt1{

    grid-column:1/3;
    grid-row:1/3;
/*     grid-area: 1/1/3/3; */

  }
   .mainWrapper{
  grid-row:1/4;
  grid-column:3/5;
  
}
}
  

  body {                  background-color:var(--main-bg-color);
                  color:var(--main-text-color);
                  text-align:center;

}
  /* Add a black background color to the top navigation */
  .topnav {
  background-color: var(--main-bg-color);
  border-bottom: 3px solid var(--main-text-color); 
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--main-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius:5px 5px 0px 0px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--aux-color-light);
    color: var(--main-white);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--aux-color-dark);
    color: var(--main-white);
  }
